
  <footer class="footer">
    <div class="container">
      <small>
        Copyright &copy; <a href="http://www.gabekane.com">Gabe Kane</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Articles", articles_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
